.window {
	background-color: lightblue;
	text-align: center;
	padding: 0.5%;
}

#player_list {
	background-color: lightgrey;
	padding: 1%;
}

.current_player {
	background-color: lightblue;
	width: 98%;
	position: fixed;
	bottom: 12%;
	left: 0;
	margin: 1%;
}

.player_set {
	display: flex;
	margin: 1%;
	margin-left: 5%;
}

#dice_set {
	display: none;
	margin-left: 10%;
}

.player {
	display: flex;
	background-color: lightblue;
	margin: 2%;
}

.player_name {
	text-align: center;
	width: 50%;
}

.dice_list {
	text-align: center;
	width: 50%;
}

.buttons {
	background-color: lightgrey;
	width: 94%;
	position: fixed;
	bottom: 0;
	left: 0;
	display: inline-block;
	text-align: center;
	margin: 1%;
	padding: 2%;
}

button {
	font-size: 115%;
	padding: 1%;
}
