* {
	font-size: 98%;
}

.window {
	background-color: lightblue;
	text-align: center;
	padding: 0.5%;
}

#player_list {
	background-color: lightgrey;
	padding: 1%;
	padding-top: 0;
}

.current_player {
	background-color: lightblue;
	width: 98%;
	position: fixed;
	bottom: 12%;
	left: 0;
	margin: 1%;
}

.player_set {
	display: flex;
	margin: 1%;
	margin-left: 5%;
}

#dice_set {
	margin-left: 10%;
}

.player_list_title {
	display: flex;
	margin: 1%;
}

.player {
	display: flex;
	background-color: lightblue;
	margin: 1%;
}

.player_name {
	text-align: center;
	width: 50%;
}

.dice_list {
	text-align: center;
	width: 50%;
}

#game_message {
	width: 100%;
	text-align: center;
}

#buttons {
	background-color: lightgrey;
	width: 96%;
	position: fixed;
	bottom: 0;
	left: 0;
	display: inline-block;
	text-align: center;
	margin: 1%;
	padding: 1%;
	display: none;
}

#diceAmount {
	width: 50px;
}

button {
	font-size: 115%;
	padding: 1%;
}

@media only screen and (max-width: 1000px) {
	* {
		font-size: 115%;
	}
	button {
		font-size: 250%;
	}
	label {
		font-size: 150%;
	}
}

